@charset "UTF-8";
/* ========== Google Fonts =========== */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");
@import url("https://fontawesome.com/icons/");

/* ========== CSS Variables =========== */
:root {
  --primary-color:#7B61FF;
  --default-color: #4f5665;
  --grey-color: #f0f0f0;
  --white-color:#F4F4F5;
  --black-color:#0B0B0A;
  --font-inter: Inter;
  
  /* font sizes */
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-3xl: 22px;
  --font-size-lg: 18px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-sm-8: 13.8px;

  /* Colors */
  --color-lightgray: #d6d2cd;
  --color-darkgray: #969696;
  --color-mediumslateblue-100: #947aff;
  --accent: #7b61ff;
  --color-mediumslateblue-200: rgba(123, 97, 255, 0.2);
  --color-white: #fff;
  --color-whitesmoke: #f4f4f5;
   /* Gaps */
--gap-xl: 1px;
--gap-2xs: 11px;
--gap-mid: 17px;
--gap-base: 16px;
--gap-lgi: 19px;
--gap-5xs: 8px;
--gap-9xs-4: 3.4px;

/* Paddings */
--padding-151xl: 170px;
--padding-23xl: 42px;
--padding-xl: 20px;
--padding-66xl: 85px;
--padding-9xs: 4px;
--padding-11xs: 2px;
--padding-12xs: 1px;
--padding-7xl: 26px;
--padding-3xl: 22px;
--padding-4xs: 9px;
--padding-base: 16px;
--padding-xs: 12px;
--padding-mini: 15px;

/* Border radiuses */
--br-5xs: 8px;
--br-21xl: 40px;

/* Effects */
--shadow1: 0px 4px 10px rgba(105, 105, 105, 0.4);
}



/***********************************************************/
.recommendation-system {
    width: 583px;
    height: 36px;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 36.2px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-left: -12px; /* Adjust this value as needed */
    color:var(--white-color);
  }
  
  .card3-icon {
    width: 484px;
    height: 272.25px;
    border-radius: 21.51px ;
    opacity: 0px;    
    align-self: stretch;
    height: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 4px;
    width: 100%;
   /* transform: scale(1.079);*/
  }
  /* Initial box shadow */
  /* Initial box shadow */
  .wrapper-card3 {
    position: relative;
    display: inline-block;
}

.card3-icon {
    width: 100%; /* Adjust this as needed */
    height: auto; /* Adjust this as needed */
}

.overlay-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Adjust the size of the overlay icon as needed */
    width: 50px; /* Example size */
    height: 50px; /* Example size */
    transition: transform 0.3s ease-in-out; /* Smooth size increase */
}

.card3-icon {
  /*box-shadow: 0px 4.3px 4.3px 0px #00000040;*/
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition */
}

/* Hover effect with increased blur */

/* Hover effects */
.wrapper-card3:hover .card3-icon {
  filter: blur(0.7px); /* Adjust the blur intensity */
  box-shadow: 0px 4.3px 4.3px 0px #00000040;
  /*box-shadow: 0px 4.3px 10.76px 0px #69696966;*/
  
}

.wrapper-card3:hover .overlay-icon {
  transform: translate(-50%, -50%) scale(1.1); /* Slightly increase size */
}

    
  
  .like1-icon,
  .wrapper-card3 {
    position: relative;
    flex-shrink: 0;
  }
  .wrapper-card3 {
    align-self: stretch;
    height: 272.3px;
    border-radius: 21.51px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .like1-icon, .like1-icon1, .action-buttons-child {
    max-height: 34.42px;
    max-width: 34.42px;
}

.action-button-placeholders, .b, .b1 {
    line-height: 34.4px; /* Match line-height with the icon height for vertical alignment */
    letter-spacing: -0.02em;
    display: inline-block;
    
}

.action-buttons, .action-buttons1, .action-buttons2 {
    display: flex;
    align-items: center; /* Vertically center icon and text */
    gap: var(--gap-9xs-4); /* Adjust gap as needed */
    margin-left: -1px;
}

.logo2 {
    display: flex;
     gap:3px/* Adjust gap between the groups */
}
.action-buttons1 {
  margin-left: 2px; /* Adjust as needed */
}

.action-buttons2 {
  margin-left: 2px; /* Adjust as needed */
}



  .verify-icon {
      height: 25.8px;
      width: 25.8px;
      position: relative;
  }
  
  .verified {
      line-height: 25.8px; /* Match the line-height with the icon height to align vertically */
      font-weight: 200;
      display: inline-block;
      letter-spacing: -0.02em;
      min-width: 47px;
      position: relative;
      vertical-align: middle;
  }
  
    .verification {
      width: 76px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end; /* Change from flex-start to flex-end for right alignment */
      gap: 3px;
      margin-right: 12px; /* Push the div to the right by utilizing remaining space */
      margin-left: auto;
  }
  
    .card-content,
    .card-details {
      align-self: stretch;
      display: flex;
    }
    .card-details {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: var(--gap-xl);
    }
    .card-content {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 17.2px;
      text-align: center;
      font-size: var(--font-size-sm-8);
      /*background-color: purple;*/
    }
    .cse-2020,
    .team-egotistical-genius {
      position: relative;
      letter-spacing: -0.02em;
      line-height: 75.41%;
      display: inline-block;
    }
    .team-egotistical-genius {
      font-size: 32.4px;
      color: var(--color-whitesmoke);
      max-width: 100%;
    }
    .cse-2020 {
      font-weight: 600;
      color: #696969;
      min-width: 119px;
    }
    .project-document {
      position: relative;
      font-size: 21.9px;
      line-height: 33px;
      font-family: var(--font-inter);
      color: var(--color-whitesmoke);
      text-align: left;
    }
    .download-04 {
      margin: 0;
      height: 29.2px;
      width: 29.2px;
      position: relative;
    }
    .project-link {
      cursor: pointer;
      border: 3px solid var(--accent);
      padding: var(--padding-4xs) var(--padding-base);
      background-color: var(--color-mediumslateblue-200);
      width: 268.5px;
      border-radius: 9.74px;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7.3px;
    white-space: nowrap;
  }
  .project-link:hover {
    background-color: rgba(148, 122, 255, 0.2);
    border: 3px solid var(--color-mediumslateblue-100);
    box-sizing: border-box;
  }
  .member-1-,
  .member-2-,
  .member-3-,
  .member-4-,
  .member-5- {
    margin: 0;
  }
  .member-1-container {
      width: 291px;
      position: relative;
      letter-spacing: -0.02em;
      line-height: 140%;
      font-weight: 300;
      color: #c5c5c5;
      display: inline-block;
    }
    .project-card {
      width: 484px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 34px;
      min-width: 484px;
      max-width: 100%;
      padding-right:10px;
    }
    .this-project-involves {
      width: 753px; /* Adjust this width to control line breaks */
      height: 136px;
  }
    .this-project-involves p{
      font-family: Inter;
      font-size: 19px;
      font-weight: 300;
      line-height: 33.6px;
      letter-spacing: -0.02em;
      text-align: left;
      
    }
    .vuesaxoutlinelink-2-icon {
      height: 20px; /* Further reduced height */
      width: 20px;  /* Further reduced width */
      position: relative;
    }
    
    .httpswwwsamplewebsitecom {
      position: relative;
      letter-spacing: -0.02em;
      font-size: 21px;
      line-height: 30px; /* Slightly reduced line height */
      display: inline-block;
      width: 270px; /* Further reduced max-width */
    }
    
    .logo1 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 4px; /* Adjusted gap for more compact spacing */
      width: 320px; /* Further reduced width */
      color: var(--accent);
    }
    
    /*****************************tech stacks used*************************/
    .ai {position: relative;
      line-height: 33.6px;
      display: inline-block;
      min-width: 25px;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -2%;
    }
    .tech-icons {
      max-width: 54px;
      border-radius: var(--br-21xl);
      background-color: var(--color-mediumslateblue-200);
      border: 2px solid var(--accent);
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: var(--padding-4xs) var(--padding-base);
      margin-left: 3%;
    }
    .ml {
      position: relative;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -2%;
      line-height: 33.6px;
      display: inline-block;
      min-width: 36px;
    }
    .tech-icons1 {
      max-width: 68px;
      border-radius: var(--br-21xl);
      background-color: var(--color-mediumslateblue-200);
      border: 2px solid var(--accent);
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: var(--padding-4xs) var(--padding-base);
    }
    .python {
      position: relative;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -2%;
      line-height: 33.6px;
      display: inline-block;
      min-width: 82px;
    }
    .tech-icons2 {
      flex: 1;
      border-radius: var(--br-21xl);
      background-color: var(--color-mediumslateblue-200);
      border: 2px solid var(--accent);
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: var(--padding-4xs) var(--padding-base);
      max-width: 100px;
    }
    .numpy {
      position: relative;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -2%;
      line-height: 33.6px;
      display: inline-block;
      /*min-width: 82px;*/
    }
    .why-choose-us {
      flex: 1;
      border-radius: var(--br-21xl);
      background-color: var(--color-mediumslateblue-200);
      border: 2px solid var(--accent);
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: var(--padding-4xs) var(--padding-base);
      max-width: 100px;
    }
    .pandas {
      position: relative;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -2%;
      line-height: 33.6px;
      display: inline-block;
     /* min-width: 85px;*/
    }
    .features-title {
      flex: 1;
      border-radius: var(--br-21xl);
      background-color: var(--color-mediumslateblue-200);
      border: 2px solid var(--accent);
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: var(--padding-4xs) var(--padding-base);
      max-width:100px;
    }
    .sql {
      position: relative;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -2%;
      line-height: 33.6px;
      display: inline-block;
      min-width: 48px;
      
    }
    .cards,
  .tech-stack {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .cards {
    width: 78px;
    border-radius: var(--br-21xl);
    background-color: var(--color-mediumslateblue-200);
    border: 2px solid var(--accent);
    box-sizing: border-box;
    padding: var(--padding-4xs) var(--padding-base);
  }
  .tech-stack {
    width: 513px;
    gap: var(--gap-5xs);
    max-width: 100%;
    color: var(--color-white);
    margin-bottom: 60px;
  }
    /************************************************/
  .this-project-involves-developi-parent {
      align-self: stretch;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: var(--gap-base);
      max-width: 100%;
    }
    
   
    .project-description {
      flex: 1;
      flex-direction: column;
      gap: 15px;
      width: 5000px;
      color: var(--color-whitesmoke);
    }
    .content,
.project-card-container,
.project-card-container-wrapper,
.project-description {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  /*padding: 0 var(--padding-12xs); /* Add padding on left and right */
}

.project-card-container {
  flex: 1;
  flex-direction: row;
  /*background-color: #947aff;*/
}

.project-card-container-wrapper {
  align-self: stretch;
  flex-direction: row;
  /*padding-right:100px; /* Reset padding if already applied */
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  /*background-color: red;*/
}

.content {
 /* Ensure the content doesn't exceed this width */
  /*width: 100%; /* Make the content responsive */
  flex-direction: column;
  padding: 0 0 0 var(--padding-xl);
  gap: 32px;
  text-align: left;
  font-size: 48px;
  color: var(--color-whitesmoke);
  font-family: var(--font-inter);
  margin: 0 auto; /* Center the content */
  width:92%;
  margin-left: 100px;
  padding-bottom: 7px;
}


  /*******************************/
  
  @media screen and (max-width: 1325px) {
   
    .project-card {
      flex: 1;
    }
    .project-description {
      gap: 38px;
    }
    .project-card-container {
      flex-wrap: wrap;
  }
  }
  @media screen and (max-width: 900px) {
  .recommendation-system {
    font-size: 38px;
    line-height: 29px;
  }
  .team-egotistical-genius {
      font-size: 26px;
      line-height: 20px;
    }
    .project-card {
      gap: var(--gap-mid);
      min-width: 100%;
    }
    .logo1,
    .tech-stack {
      flex-wrap: wrap;
    }
    .why-choose-us-card {
      gap: var(--gap-xl);
    }
    .project-description {
      gap: var(--gap-lgi);
      min-width: 100%;
    }
    .content {
      gap: var(--gap-base);
      margin-left: 12px;
      /*margin-right: 5px;*/
    }
    
  }
  @media screen and (max-width: 450px) {
    .recommendation-system {
      font-size: 29px;
      line-height: 22px;
    } 
    .card-details {
      flex-wrap: wrap;
      position: relative;
      top: -85px; /* Adjust the value as needed */
      left: -5px;
  }
  
    .cse-2020,
    .team-egotistical-genius {
      font-size: var(--font-size-lgi);
      line-height: 15px;
      
    }
    .team-egotistical-genius{
      margin-top: -20%;
    }
    .cse-2020 {
      line-height: 14px;
    }
    .ai,
    .httpswwwsamplewebsitecom,
    .member-1-container,
    .ml,
    .numpy,
    .pandas,
    .python,
    .sql,
    .this-project-involves {
      font-size: var(--font-size-lgi);
      line-height: 27px;
    }
    .is-there-any,
    .what-challenges-did,
    .what-is-usp {
      font-size: var(--font-size-lg);
      line-height: 21px;
    }
    
  }
  @media (max-width: 576px) {
    .httpswwwsamplewebsitecom {
      line-height: 24px; /* Adjust line height for better readability on small screens */
      font-size: 14px; /* Adjust font size for smaller screens */
      margin-top:10px;
      flex:1;
      margin-left: 18%;
    }
  
    .logo1 {
      flex-direction: column; /* Stack items vertically for smaller screens */
      align-items: center; /* Center items horizontally */
      gap: var(--gap-xs); /* Adjust gap for a more compact look */
      font-size: 12px; /* Adjust font size if needed */
      margin-top:180px;
      margin-left: -25px;
      flex:1;
    }
    .this-project-involves p{
      width:330px;
      font-size: 10ox;
      margin-left: 0.3%;
      margin-top: 30px;
    }
    .tech-stack{
      margin-top: 20px;
    }
  }
  @media (max-width: 768px) {
    .overlay-icon {
        width: 50px; /* Smaller size for medium screens */
        height: 50px;
        margin-top: -12%;
        
    }
}

@media (max-width: 576px) {
    .overlay-icon {
        width: 40px; /* Even smaller size for small screens */
        height: 40px;
    }
    
}




/********************************navbar******************************/
.search-bar {
  background: #222222;
  width: 100%; /* Full width for smaller screens */
  max-width: 280px; /* Limit the maximum width */
  height: 48px;
  padding: 15px 16px 15px 21px;
  border-radius: 6px;
  border: 1px solid transparent; /* Adjust border to only show the bottom */
  opacity: 1; /* Ensure it's visible */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  padding-right: 2.5rem; 
  color:var(--white-color);
}
.dark-mode .search-bar{
  color:var(--black-color);
}
.search-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%; 
}

#search-icon {
  position: absolute;
  right: 1rem; /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%);
  width: 1.2rem; /* Adjust icon size */
  height: auto; /* Maintain aspect ratio */
  pointer-events: none; /* Ensure clicks go to the input field */
  color: #969696; /* This will not affect images, you can remove this line */
}
#mode-icon  {
  position: absolute; /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%);
  max-width: 24px;
  max-height: 24px;
  cursor: pointer; /* Indicate it's clickable */
}


/* Styles for smaller screens */
@media (max-width: 833px) {
  .search-bar {
    width: 100%; /* Full width on smaller screens */
    max-width: 240px; /* Reduce maximum width if needed */
    padding: 12px 14px; /* Adjust padding for smaller screens */
  }
}

@media (max-width: 567px) {
  .search-bar {
    width: 100%; /* Full width for mobile screens */
    max-width: 200px; /* Further reduce maximum width for mobile screens */
    padding: 10px 12px; /* Adjust padding for mobile screens */
  }
}

/* Ensuring search icon is aligned properly */
.search-icon {
  display: flex;
  align-items: center;
}

/* Optional: Adjust search icon position */
.search-icon i {
  margin-left: 10px; /* Adjust spacing between search bar text and icon */
}


.login-button {
  background-color: var(--primary-color);
  color: white;
  border-radius: 4px;
  cursor: pointer;
  width: 153 px;
  height: Fixed (48px)px;
  padding: 12px 52px 12px 52px;
  gap: 0px;
  opacity: 0px;
  background: #7B61FF;
}

.mode-toggle {
  cursor: pointer;
  margin-left: 10px;
}

.mode-toggle i {
  font-size: 24px;
}
.dark-mode {
    background-color: #F4F4F5;
  }


.dark-mode .navbar {
  background-color:   #F4F4F5;
}

.dark-mode .search-bar {
  background: #DDDDDD;
  border: 1px solid #D4D4D4;
}

.dark-mode .login-button {
  background-color:#7B61FF;
  color:#0B0B0A;
  font-weight: 500;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  scroll-behavior: smooth;

}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  /*overflow-x: hidden;*/
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--);
  background-color: var(--black-color);
  margin: 0;
  padding: 0;
  min-height: 100%;
}


.mode-toggle {
  cursor: pointer;
  margin-left: 10px;
}

.mode-toggle i {
  font-size: 24px;
  background: #7B61FF;

}

h1,
h2,
h3,
h4 {
  color: var(--primary-color);
  line-height: 1.2;
  font-weight: 500;
}

a {
  text-decoration: none;
  color:inherit;
}

li {
  list-style-type: none;
}

section {
  padding: 5rem 0 5rem;
  overflow: hidden;
}

p {
  line-height: 3rem;
}

img {
  max-width: 100%;
  height: auto;
}
.logo{
  
  position: absolute; /* Position the logo absolutely relative to its closest positioned ancestor */
  /*top: 4rem; /* Aligns the logo to the top of the page */
  left: 2.5rem; /* Aligns the logo to the left side of the page */
  margin-top: 0.5%; /* Remove any additional top margin */
  margin-left: 3.5%; /* Remove any additional left margin */
  
  opacity: 1; /* Make sure the logo is visible */
  margin-right: auto; /* Keeps the logo on the left */
  width: 122.12px;
  height: 24px;
  gap: 0px;
  opacity: 0px;
  
  
}
/* Adjust logo position and size for medium screens (e.g., tablets) */
@media (max-width: 1024px) {
  .logo {
    width: 180px; /* Adjust size if needed */
    height: auto; /* Maintain aspect ratio */
    left: 1.5rem; /* Adjust left position */
    top: 3rem; /* Adjust top position */
    margin-right: 1rem; /* Reduce right margin */
  }
}

/* Adjust logo position and size for small screens (e.g., mobile devices) */
@media (max-width: 768px) {
  .logo {
    width: 170px; /* Adjust size if needed */
    height: auto; /* Maintain aspect ratio */
    left: 1rem; /* Adjust left position */
    top: 2rem; /* Adjust top position */
    margin-right: 1rem; /* Reduce right margin */
  }
}

/* Further adjust logo position and size for very small screens (e.g., mobile portrait) */
@media (max-width: 480px) {
  .logo {
    width: 140px; /* Adjust size if needed */
    height: auto; /* Maintain aspect ratio */
    left: 0.5rem; /* Adjust left position */
    top: 1.5rem; /* Adjust top position */
    margin-right: 0.5rem; /* Reduce right margin */
  }
}
/* ========== Custom Classes =========== */
.container {
  max-width: 120rem;
  padding: 0 3rem;
  margin: auto;
}

@media (min-width: 1600px) {
  .container {
    max-width: 160rem;
  }
}

@media (max-width: 567px) {
  .container {
    padding: 0 1rem;
  }
}

.d-flex {
  display: flex;
  align-items: center;
}

/* ========== Header =========== */
.header {
  margin-bottom: 4rem;
}

.header .navbar {
  padding: 2.5rem 0;
  position: relative;
  z-index: 1;
}

.header .navbar .row {
  margin-left: 30.8%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.header .navbar .row .nav-list a {
  display: inline-block;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  text-align: left;
  color: var(--white-color);
  margin-left: 1.5rem; /* Shift links slightly to the right */
}

.dark-mode .header .navbar .row .nav-list a {
  color: var(--black-color);
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space between logo and other elements */
  max-width: 95%; /* Ensures the navbar doesn't overflow */
  margin: 0 auto; /* Centers the navbar within the parent */
  padding: 0 20px; /* Optional: Adds padding on the sides */
}

  

@media (max-width: 768px) {
  .navbar {
    left: 2%; /* Further adjust the positioning on smaller screens */
    max-width: 98%;
  }
}

.header .navbar .row .nav-list p.user-link {
  display: none;
}

.header .navbar .row .nav-list a:not(:last-child) {
  margin-right: 0.5rem;
}

.header .navbar .row .nav-list a:hover {
  color: var(--primary-color);
}

.header .navbar .row .icons .icon {
  font-size: 2.2rem;
  padding: 0.5rem;
  color: var(--primary-color);
  cursor: pointer;
  justify-content: center;
  position: relative;
  margin-left: 0.5rem; /* Shift icons slightly to the right */
}

.header .navbar .row .icons .icon:not(:last-child) {
  margin-right: 1rem;
}
.header .navbar .row .icons .icon {
  margin-right: 1rem; /* Reduced space between icons */
}

.header .navbar .row .icons .search-bar {
  margin-left: 0.5rem; /* Reduced space between search bar and sun icon */
}



.header .hamburger,
.header .close {
  display: none;
}
/* Show hamburger on small screens */
@media (max-width: 768px) {
  .header .hamburger {
    display: block; /* Show hamburger menu */
    font-size: 3rem; /* Adjust size if needed */
    color: var(--primary-color); /* Match color with the rest of the theme */
    position: absolute; /* Position it absolutely within the header */
    top: 1.5rem; /* Adjust top position */
    right: 1.5rem; /* Adjust right position */
    cursor: pointer; /* Show pointer cursor on hover */
    /*z-index: 1100; /* Ensure it is above other content */
  }
}

/* Ensure the close button is positioned and styled similarly */
.header .close {
  display: none; /* Hide close button on larger screens */
}

@media (max-width: 768px) {
  .header .close {
    display: block; /* Show close button */
    font-size: 3rem; /* Adjust size if needed */
    color: var(--primary-color); /* Match color with the rest of the theme */
    position: absolute; /* Position it absolutely within the nav list */
    top: 2.5rem; /* Adjust top position */
    right: 2.5rem; /* Adjust right position */
    cursor: pointer; /* Show pointer cursor on hover */
    z-index: 1100; /* Ensure it is above other content */
  }
}

/* Optional: Adjust for very small screens (mobile portrait) */

@media (min-width: 1600px) {
  .header .navbar {
    padding: 4rem 0;
  }
}

@media (max-width: 963px) {
  .header .navbar .row .icons .icon .search-bar{
    display: none;
  }
  .header .navbar .row .icons .icon #search-icon{
    display: none;
  }
  .header .navbar .row .icons .icon #mode-icon{
    display: flex;
  }

}
@media (max-width: 386px) {
  .header .navbar .icons .icon .login-button{
    display: none;
  }
  .header .navbar .row .icons .icon #mode-icon{
    display: flex;
    padding-top: 10%;
  }

}
@media (max-width: 1354px) {
  .header .navbar {
    padding-left: 0; /* Remove padding for mobile screens */
  }
  

  .header .navbar .row .nav-list {
    position: fixed;
    top: 0;
    right: -400%;
    width: 100%;
    max-width: 35rem;
    height: 100%;
    background-color: var(--black-color);
    z-index: 1000;
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem 1rem;
  }
  .dark-mode .header .navbar .row .nav-list {
    background-color: var(--white-color);
  }
  .header .navbar .row .nav-list a {
    font-size: 2rem;
    display: hidden;

  }
  
  .header .navbar .row .nav-list a:not(:last-child) {
    margin: 0 0 1rem 0;
  }

  .header .navbar .row .nav-list .close {
    display: block;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    color: var(--primary-color);
    font-size: 3rem;
  }

  .header .navbar .row .nav-list.show {
    right: 0;
  }

  .header .navbar .row .hamburger {
    display: block;
    font-size: 3rem;
    color: var(--primary-color);
  }
}
/************************footer*******************************/

/*====================faq=================*/
/* FAQ Container */
.faq-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.faq-container {
  text-align: center;
  width: 100%;
}

.faq-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem; /* Space between items */
}

.faq-item {
  width:580px;
  box-sizing: border-box;
  position: relative;
}

.dark-mode .faq-container h2{
  color:var(--black-color);
}
.faq-question {
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 20px 18px 50px 24px; /* Reduced padding for a more compact height */
  /**/
  margin-bottom: 2rem; /* Space between FAQ items */
  background: linear-gradient(90deg, #0B0B0A 45.3%, #1B0F37 100%);
  border-radius: 8px;
  /**/
  box-shadow: 0px 4px 10px 0px #69696966;
}

.dark-mode .faq-question {
  background: linear-gradient(90deg, #F4F4F5 45.3%, #E6DBFF 100%);
  box-shadow: 0px 4px 10px 0px #69696966;

}

.faq-question p {
  font-family: Inter;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  letter-spacing: 0.005em;
  text-align: left;
  margin-left: -1%;

}

.faq-toggle {
  background: none;
  border: none;
  font-size: 1.2rem;
  position: absolute;
  top: 26%;
  right: 1rem; /* Fixed position from the right */
  margin-left: 10px;
  transition:  0.3s ease, transform 0.3s ease; /* Smooth color and rotation transition */
  max-width:24px;
  max-height: 24px;
  
  
  }
  

.faq-item.active .faq-toggle {
  transform: rotate(180deg); /* Rotate the arrow when active */
}

/* Ensure the question expands and collapses smoothly */
.faq-item.active .faq-question {
  padding-bottom: 2rem; /* Adjust padding if needed */
}

.faq-answer {
  display: none; /* Hidden by default */
  padding-top: 0.5rem;
  
}
.faq-question p{
  color: var(--white-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 26.4px;
  letter-spacing: 0.005em;
  text-align: left;
}
.dark-mode .faq-question p {
  color: #292D32;

}
.dark-mode .faq-answer p{
  color:var(--primary-color);
}
.faq-answer p{
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 16.4px;
  letter-spacing: 0.005em;
  text-align: left;
}

.faq-item.active .faq-answer {
  display: block; /* Show when active */
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  .faq-item {
    width: 100%; /* Full width on smaller screens */
  }
}


/*===== Footer =========== */
.footer {
  background: #121212;
  color: #fff;
  padding: 2rem;
  flex-grow: 1; /* Allows footer to grow and occupy the remaining space */
  padding: 10rem 3rem 10rem;
  margin-top: 7rem;
  justify-content: space-between; 
}
.dark-mode .footer{
  background: #EDEDED;
  color:var(--black-color);
}

.footer .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.footer-logo img {
  max-width: 100%;
}

.footer h3 {
  margin-bottom: 3rem;
  font-size: 22px;
  font-weight: 700;
  line-height: 16.59px;
  text-align: left;
  color: #D6D2CD;

}
.dark-mode .footer h3{
  color:#292D32;

} 
.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;

}

.footer li {
  margin-bottom: 0.5rem;
  text-align: left;

}
.footer-links li a {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 15.08px;
  text-align: left;


}

.footer a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}
.footer-contact a {
  text-decoration: none;
  color: #fff; /* Text color */
  font-size: 1.2rem;
}
.dark-mode .footer a{
  color:var(--black-color);
}
.dark-mode .footer-contact a{
  color:var(--black-color);
}
.footer-contact ul {
  list-style: none; /* Remove bullet points */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}

.footer-contact li {
  display: flex; /* Use flexbox to align items horizontally */
  align-items: center; /* Vertically center the icon and text */
  margin-bottom: 0.5rem; /* Add some spacing between each list item */
}

.footer-contact .social-icon {
  vertical-align: middle;

  margin-right: 0.5rem; /* Space between icon and text */
  width: 24px; /* Adjust the size of the icons as needed */
  height: 24px;
}

.footer-contact a {
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Inherit text color */
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 15.08px;
  text-align: left;
  
}

.footer-bottom {
  margin-top: 5%;
  text-align: center;

}


@media (max-width: 768px) {
  .footer .row {
      grid-template-columns: 1fr;
  }
  .footer-logo,
  .footer-links,
  .footer-contact {
      margin-bottom: 2rem;
  }
}

@media (max-width: 480px) {
  .footer h3 {
      font-size: 1.2rem; /* Slightly larger for readability */
      margin-bottom: 1.5rem; /* Adjusted spacing */
  }
  .footer-contact a {
      font-size: 1rem; /* Adjust text size for smaller screens */
  }
  .footer-bottom {
      font-size: 0.9rem; /* Increased font size slightly */
      margin-top: 2rem; /* Reduced margin for a more compact design */
      padding: 1rem 0; /* Added padding for better spacing */
      line-height: 1.4; /* Adjusted line height for readability */
      text-align: center;
  }
}
@media (max-width: 480px) {
  .footer-links li a {
      font-size: 1rem; /* Reduce font size for smaller screens */
      line-height: 1.5; /* Increase line height for better readability */
      font-weight: 400; /* Maintain the same font weight */
      text-align: left; /* Keep the text alignment consistent */
  }
}



